<head>
  <title>sniffer</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Roboto" rel="stylesheet" />
  <script  type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAod6AoCBJyun0ST5Kg3BSKW5SiP33uAM0&libraries=places"></script>
</head>

<body>
  <div id="yield"></div>
</body>